body {
  background-color: #a5d9ee;
  margin: 3em;
}

h1 {
  text-align: center;
}

p {
  font-style: italic;
  display: block;
  padding: 1px;
  text-align: center;
  font-size: 18px;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: -20px;
  opacity: 95%;
}

textarea {
  width: 90%;
  height: 150px;
  border: 1px solid #000000;
  color: #000000;
  padding: 10px;
  display: block;
  margin: 10px auto;
}

#chatbot {
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#Question {
  width: 90%;
  height: 30px;
  /* bottom: 0px; */
}

#answer {
  height: 70%;
  width: 90%;
  border: 3px solid black;
}
