body {
    background-color: #a5d9ee;
    margin: auto;
  }
  
  h1 {
    text-align: center; 
  }

  p {
    font-style: italic;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  img {
    display: block;  
    margin: 0 auto;  
    margin-top: -20px;
    margin-bottom: -20px;
    opacity: 95%;
  }
  
  div {
    margin: 10px auto;  
    display: block; 
  }

  figcaption {
    text-align: center;
  }

  input[type="submit"] {
    display: block;
    margin: auto;
    border-radius: 50%;
    aspect-ratio: 3;
    width: 150px;
  }

  